@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    font-family: 'Ysabeau Office', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Ysabeau Office', sans-serif;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    width: 100%;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
}

.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: blueviolet;
}

.logo span{
    color: green;
}

.rightnav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.rightnav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-banner{
    max-width: 1200px;
    height: 600px;
    border-radius: 30px;
    background-image: url("https://img.freepik.com/free-photo/supermarket-banner-concept-with-ingredients_23-2149421132.jpg");
    margin: 10px auto;
    padding: 30px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
}

.search-banner-heading{
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
    color: white;
}

.para{
    font-size: 25px;
    color: yellow;
    font-weight: 500;
}

.search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
}

.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}
.search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}
.search-box .search-btn{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.5s;
}
.search-box .search-btn:hover{
    background-color: #5ccf71;
    transition: all ease 0.5s;
}
#category{
    display: flex;
    flex-direction: column;  
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2,
.product-heading h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.category-heading span,
.product-heading span{
    color: #202020;
    font-weight: 600;
    letter-spacing: 1px;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 280px;
    width: 240px;
    border: 1.5px solid rgba(243, 114, 105, 0.815);
}
.category-box img{
    height: 250px;
    width: 200px;
    object-fit: contain;
    object-position: center;
}
.category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

#popular-product{
    display: flex;
    flex-direction: column;  
    max-width: 1000px;
    margin: 50px auto;
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}
.product-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.product-box{
    width: 100%;
    border: 1.5px solid rgba(243, 114, 105, 0.815);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}
.product-box .quantity{
    color: #949494;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.product-box .price{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #393939;
}
.product-box .cart-btn{
    width:100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #4eb060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}
.product-box .cart-btn i{
    margin-right: 10px;
}
.product-box .cart-btn:hover{
    background-color: #4eb060;
    color: #ffffff;
    transition: all ease 0.3s;
}

#download-app{
    max-width:1150px;
    width: 100%;
    background-color: #ecf7ee;
    height: 400px;
    margin: 225px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app-img{
    width:275px;
    height: 550px;
    background-color: #ffffff;
    border: 4px solid #393939;
    border-radius: 20px;
    overflow: hidden;
}
.app-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.download-app-text{
    max-width:400px;
}
.download-app-text strong{
    color: #393939;
    font-size: 1.56rem;
}
.download-app-text p{
    color: #3b3b3b;
    margin: 15px 0px;
}
.download-btns{
    display: flex;
}
.download-btns a{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.download-btns a img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
footer{
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid #4eb060;
}
.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-logo a span{
    color: #4eb060;
}
.footer-social{
    display: flex;
    margin-top: 10px;
}
.footer-social a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff15;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
}
.footer-social a:hover{
    background-color: #4eb060;
    transition: all ease 0.3s;
}
.footer-links strong{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer-links ul{
    margin-top: 10px;
}
.footer-links ul li a{
    color: #ffffff;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}